# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/
bower_components/

# Compiled files
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib

# Build directories
build/
dist/
target/
out/

# Miscellaneous
.DS_Store
Thumbs.db
